.introduction {
    /* Full width */
    width: 100%;

    /* Initial Height */
    height: 95vh;

    /* Flex Direction */
    display: flex;
    flex-direction: column;
    
    /* Font Colors */
    color: whitesmoke;

    /* Remove Margin top and bottom */
    p {
        margin-top: 0em;
        margin-bottom: 0em;
    }
}

.about {
    /* Flex Direction */
    display: flex;
    flex-direction: column;

    /* Alignment */
    justify-content: center;
    align-items: center;

    /* Text color */
    color:white;

    img {
        /* Default Image Size */
        height: 300px;
        width: 300px;

        /* Default Margin */
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .paragraph-border {
        /* Paragrah-Border */
        
        /* Padding */
        padding: 1em;

        /* Margin */
        margin-bottom: 3em; 

        /* Border Styling */
        border-style: solid;
        border-radius: 2em;
        border-color:darkgrey;

        /* Background Color */
        background-color:grey;

        /* Transparency */
        opacity: 95%
    }
}

.resume {
    margin: 3em;
}