.homepage {
    /* Full width */
    width: 100%;

    /* Flex Direction */
    display: flex;
    flex-direction: column;
    
    /* Font Colors */
    color: whitesmoke;

    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    @media only screen and (max-width: 767px) {
    /* Media Query for Mobile Screens Vertical */
        height: 85.6vh;
    }

    @media only screen and (min-width: 768px) {
    /* Media Query for Tablet Screen Vertical */
        height: 85.3vh;
    }

    @media only screen and (min-width: 886px) {
    /* Media Query for Tablet Screen Horizontal */
        height: 85.3vh;
    }

    @media only screen and (min-width: 1024px) {
    /* Media Query for Small Laptop Screen */
        height: 85.3vh;
    }

    @media only screen and (min-width: 1280px) {
    /* Media Query for Medium Laptop Screen */
        height: 85.3vh;
    }

    @media only screen and (min-width: 1440px) {
    /* Media Query for Large Laptop Screen */
        height: 85.3vh;
    }

    @media only screen and (min-width: 2560px) {
    /* Media Query for 4K Screen */
        height: 85.5vh;
    }
}